:root
{
    --colorPrimary: rgb(238, 102, 26);
    --colorPrimaryHover: rgba(238, 102, 26, .8);
}

a
{
    color: unset;
    text-decoration: none;
}

footer
{
    background-color: rgb(22, 22, 22);
    padding: 32px 0;

    & label
    {
        color: rgb(169, 169, 169);
        margin-left: 5rem;
    }
}

button
{
    background-color: transparent;
    border: none;
    padding:0;
}

svg.fa-pen,svg.fa-trash-can
{
    cursor: pointer;
}

.select2-container
{
    width: 100% !important;
    
    &:not(:has(.select2-selection__placeholder)) + label
    {
        font-size: 12px;
        color: var(--colorPrimary);
        top: 8px;
    }

    & .selection
    {

        & .select2-selection
        {
            border: none;
            height: unset;

            & button.select2-selection__clear
            {
                position:absolute;
                top: 1px;
                right: 1px;
                height: 100%;
            }

            & .select2-selection__rendered
            {
                padding: 1.5rem 1rem .5rem 1rem;
                border: 0.8px solid rgb(226, 226, 226);
                border-radius: 4px;
                width: 100%;

                & .select2-selection__placeholder::after
                {
                    content: "placeholder";
                    color: transparent;
                }

            }

            & .select2-selection__arrow
            {
                height: 100%;
            }
        }
    }
}

.cbxOnOff
{
    border: 1px solid gray;
    border-radius: 20px;
    position: relative;
    background-color: lime;
    height: 1.5rem;
    width: 3.5rem;
    cursor: pointer;
    box-shadow: 0 0 3px inset gray;

    &:has(input:is(:checked))
    {
        background-color: #7fff00;

        &::after
        {
            left: calc(2rem);
        }
    }

    &:has(input:is(:not(:checked)))
    {
        background-color: white;
        &::after
        {
            left: 0;
        }
    }

    &::after
    {
        content: "";
        display: inline-block;
        border-radius: 20px;
        background-color: white;
        border: 1px solid gray;
        position: absolute;
        padding: 0 .5rem;
        height: 100%;
        aspect-ratio: 1 / 1;
        left: 0;
        transition: left .25s
    }

    & input
    {
        display: none;
    }
}

.sel2PlaceholderContainer
{
    position: relative;
    margin-bottom: 1rem;

    & > label
    {
        position: absolute;
        pointer-events: none;
        left: 16px;
        top: calc(50% / 2);
        font-size: 18px;
        transition: all 0.15s ease 0s;
    }
}

#btnCreateNewProduct
{
    margin: 10px 0;
}

#divManageCategoriesPageContainer,#divManageProductsPageContainer
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorPrimary);
}

#divManageProductsContainer
{
    box-shadow: 0 0 10px gray;
    background-color: white;
    height: 85vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

#divManageCategoriesContainer
{
    box-shadow: 0 0 10px gray;
    background-color: white;
    height: 85vh;
    width: 70vw;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    & .divAddCategoryContainer
    {
        width: fit-content;
        &:not(:last-child)
        {
            margin-bottom: 1rem;
        }

        &:hover
        {
            background-color: lightgray;
        }
    }

    & > div
    {
        width: 50%;

        & .divSubcategories,.divAddSubcateogryContainer
        {
            margin-left: 3rem;

            &.divAddSubcateogryContainer
            {
                width: fit-content;

                &:hover
                {
                    background-color: lightgray;
                }
            }
        }
    }
}

#divAdminSidebar
{
    box-shadow: 3px 0 5px gray;
    height: 100vh;
    width: 0;
    transition: width .5s;
    position: fixed;
    left: 0;
    top: 0px;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > div
    {
        padding: .5rem 2rem;
        border-bottom: 1px solid lightgray;
        cursor: pointer;

        &:hover
        {
            background-color: lightgray;
        }

        &:active
        {
            background-color: gray;
        }
    }

    &.expanded
    {
        width: 200px;
    }
    
}

#btnAdminSidebar
{
    position: fixed;
    left: 0;
    top: calc(50% - 30px);
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 0 5px 5px 0;
    padding: 20px 5px;
    transition: left .5s;
    z-index: 1000;
    box-shadow: 0 0 5px gray;
    display: none;

    &.expanded
    {
        left: 200px;
    }
}

#divLoginPageContainer
{
    background-color: rgb(246, 246, 246);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        border: 1px solid lightgray;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 10px lightgray;
        min-width: 300px;
        width: 50%;
        aspect-ratio: 3/2;
        justify-content: space-between;
    }
}

#divProductsPageContainer
{
    display: flex;

    & > div:first-child
    {
        flex: 25;
        & > div
        {
            & h5
            {
                font-weight: bold;
            }

            & svg
            {
                float: right;
                cursor: pointer;
            }

            & :is(.collapsed,.expanded)
            {
                margin-left: 2rem;

                &.collapsed
                {
                    display: none;
                }
            }

            & :is(label,input)
            {
                cursor: pointer;
            }
            margin-left: 3rem;
        }
    }   

    & > div:last-child
    {
        flex: 75;
        padding-left: 3rem;
        padding-right: 5rem;
    }
}

#navMainNavbar
{
    height: 93px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    transition: background-color .5s;
    padding: 0 3rem;
    z-index: 100;

    & a label
    {
        cursor: pointer;
    }

    & label
    {
        font-size: 51px;
        font-weight: 900;
        font-family: 'Playfair Display', Georgia, serif;
    }

    &.scrolled
    {
        background-color: rgb(255, 255, 255, .9);
    }
}

#divHomePageLatestProductsContainer
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5rem 0;
    
    & h2
    {
        text-align: center;
        margin-bottom: 2rem;
    }
}

#divHomePageStayInTouchSec
{
    background-color: rgb(246, 246, 246);
    padding: 5rem 0;

    & > div
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3rem;

        & > div
        {
            display: flex;
            gap: 1rem;

            & input
            {
                min-width: 200px;
                width: 35vw;
            }
        }

        & h2
        {
            font-family: 'Playfair Display', Georgia, serif;
            font-size: 51px;
        }
    }
}

#divProductsContainer
{   
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    & div
    {
        flex: 1;
        display: flex;
        gap: .5rem;

        & a
        {
            background-image: url('../image/sampleProduct.jpg');
            background-size: cover;
            flex: 1;
            cursor: pointer;
        }
    }
}

#mainNavbarContent
{
    & a
    {
        font-family: 'Open Sans', arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.071em;
        text-transform: uppercase;

        &.selected
        {
            font-weight: 700;
        }

        &:not(:last-child){
            margin-right: 1.75rem;
        }
    }
}

#divSimpleQuote
{
    min-height: 85vh;
    background-image: url('../image/homePageSimpleQuote.jpeg');
    background-size: cover;

    & div
    {
        position: absolute;
        right: 10%;
        top: 35%;

        & h1
        {
            font-size: 71px;
            font-family: 'Playfair Display', Georgia, serif;
            text-align: right;
        }

        & a
        {
            float: right;
            margin-top: 2rem;
        }
    }
}

#divAboutPageContentContainer
{
    display: flex;
    margin-bottom: 5rem;
    min-height: calc(100vh - 88px - 5rem);

    & > div
    {
        width: 50%;

        & label
        {
            font-size: 18px;
            color: rgb(94, 94, 94);
        }

        &:first-child
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5rem;

            & h1
            {
                margin-bottom: 2rem;
            }
        }

    }
}

#divAboutPageImg
{
    background-image: url('../image/aboutPage.jpeg');
    background-size: cover;
    background-position: center;
}

#divFAQPageContainer
{
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 5rem;

    & h1
    {
        text-align: center;
        margin-bottom: 5rem;
    }

    & > div
    {
        margin-bottom: 3rem;
        font-family: 'Open Sans', arial, sans-serif;

        & h4
        {
            margin-bottom: 1rem;
            font-family: 'Open Sans', arial, sans-serif;
            font-size: 25px;
        }

        & label
        {
            font-family: 'Open Sans', arial, sans-serif;
            font-size: 18px;
            color: rgb(94, 94, 94);
        }
    }
}

#divContactPageContainer
{
    gap: 3rem;
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;

    & > div
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        min-width: 300px;
        gap: 1rem;
        margin: 3rem 0;

        
        & h1,label
        {
            text-align: center;
        }

        & h4
        {
            font-size: 38px;
        }

        & form
        {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;

            & div
            {
                width: 100%;
            }
        }
    }
}

#divSearchSort
{
    display: flex;
    gap: 1rem;

    & div:first-child
    {
        flex: 70;
        display: flex;

        & input
        {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        & button
        {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

#divProductList
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;

    & > div
    {
        flex-basis: 23.5%;
        aspect-ratio: 7/8;
        border: 1px solid lightgray;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: all .5s;
        margin-top: 2%;
        border-radius: 5px;

        &:hover
        {
            transform: scale(1.1);
            box-shadow: 0 0 20px 1px lightgray;

            & > div:last-child
            {
                background-color: lightgray;
            }
        }

        

        & > div:first-child
        {
            flex: 1;
            & img
            {
                width: 100%;
            }
        }

        & > div:last-child
        {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            & label
            {
                font-size: 1.25rem;
                font-family: "Poppins", "Odoo Unicode Support Noto", sans-serif;

                &:first-child
                {
                    color: var(--colorPrimary);
                }
            }
        }
    }
}

.fixed-table-container
{
    height: 80%;
    
    .table
    {
        cursor: pointer;
        
        & thead
        {   
            & th
            {
                background-color: var(--colorPrimary);
                color: white;
            }
        }
    }
}

.btnPrimary
{
    background-color: var(--colorPrimary);
    border: 1px solid var(--colorPrimary);
    color: white;
    
    &:is(:hover,:active)
    {
        background-color: var(--colorPrimaryHover) !important;
        color: white !important;
    }
}

.divDropdown
{   
    position: relative;
    display: inline-block;
    margin-left: .25rem;

    & > div
    {
        position: absolute;
        border: 1px solid lightgray;
        background-color: white;
        border-radius: 5px;
        z-index: 100000;

        & div
        {
            padding: .5rem 1rem;
            cursor: pointer;
            user-select: none;

            &:hover
            {
                background-color: lightgray;
            }

            &:active
            {
                background-color: gray;
            }
        }
        

        &.collapsed
        {
            display: none;
        }

        &.expanded
        {
            display: block;
        }
    }
}

.inputPlaceholderContainer
{   
    position: relative;
    margin-bottom: 1rem;

    & input
    {
        padding: 1.5rem 1rem .5rem 1rem;
        border: 0.8px solid rgb(226, 226, 226);
        border-radius: 4px;
        width: 100%;
        display: block;

        &:is(:focus,:not(:placeholder-shown)) + label
        {

            font-size: 12px;
            color: rgb(201, 79, 10);
            top: 8px;
        }
    }

    & label
    {
        position: absolute;
        pointer-events: none;
        left: 16px;
        top: calc(50% / 2);
        font-size: 18px;
        transition: all 0.15s ease 0s;
    }
}

.pageContainer
{
    padding-top: 93px;
    min-height: calc(100vh - 88px);
}

.orangeTitle
{
    color: rgb(238, 102, 26);
    font-size: 51px;
    font-family: 'Playfair Display', Georgia, serif;
}

.btnOrange
{
    text-transform: uppercase;
    color: white;
    background-color: rgb(238, 102, 26);
    border-radius: 4px;
    padding: 1rem 2rem;
    font-weight: 700;
    cursor: pointer;
}

.normalText
{
    color: rgb(94, 94, 94);
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 18px;
}

.normalTitle
{
    font-size: 51px;
    font-family: 'Playfair Display', Georgia, serif;
    font-weight: 400;
}

.subTitle
{
    font-size: 25px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    color: rgb(27, 27, 27);
}